<!DOCTYPE html>
<html theme="">

<head>
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <header>
    <div class="logo">
      <a href="/">PJS Portfolio</a>
    </div>
    <label class="switch">
      <input id="switch" type="checkbox">
      <span class="slider"></span>
    </label>
    <div class="sub-menu">
      <span id="home">HOME</span>
      <span id="about-me">ABOUT ME</span>
      <span id="skills">SKILLS</span>
      <span id="projects">PROJECTS</span>
      <span id="toy">TOY</span>
    </div>
    <!-- <i class="fa-solid fa-bars"></i> -->
  </header>
  <section class="intro">
    <div class="main-ment">
      <p>안녕하세요, <span>웹 개발자</span> 박준수입니다.</p>
    </div>
    <div class="sub-ment">
      <p>저는 새로운 기술에 흥미가 있으며</p>
      <p>항상 더 성장하고 싶은 웹 프론트엔드 개발자입니다.</p>
    </div>
  </section>
  <section class="about">
    <div class="about-text">ABOUT ME</div>
    <div class="about-container">
      <div class="about-item">
        <i class="fa-solid fa-user"></i>
        <div class="about-description">
          <p>이름<br><span>박준수</span></p>
        </div>
      </div>
      <div class="about-item">
        <i class="fa-solid fa-calendar"></i>
        <div class="about-description">
          <p>생년월일<br><span>95.05.18</span></p>
        </div>
      </div>
      <div class="about-item">
        <i class="fa-solid fa-location-dot"></i>
        <div class="about-description">
          <p>주소지<br><span>천안시 서북구</span></p>
        </div>
      </div>
      <div class="about-item">
        <i class="fa-solid fa-phone"></i>
        <div class="about-description">
          <p>연락처<br><span>010-2067-7157</span></p>
        </div>
      </div>
      <div class="about-item">
        <i class="fa-solid fa-envelope"></i>
        <div class="about-description">
          <p>이메일<br><span>crab7157@gmail.com</span></p>
        </div>
      </div>
      <div class="about-item">
        <i class="fa-solid fa-pencil"></i>
        <div class="about-description">
          <p>학력<br><span>세종대학교 (전자공학과)</span></p>
        </div>
      </div>
    </div>
  </section>
  <section class="skills">
    <div class="skills-text">SKILLS</div>
    <div class="skills-container-1">
      <div class="html"></div>
      <div class="sass"></div>
    </div>
    <div class="skills-container-2">
      <div class="react"></div>
      <div class="git"></div>
    </div>
  </section>
  <section class="projects">
    <div class="projects-text">PROJECTS</div>

    <div class="slider-wrap" id="slider-wrap">
      <ul class="list slider" id="slider">
          <li><img src="<%= require('./src/image/red.jpeg') %>" /></li>
          <li><img src="<%= require('./src/image/orange.jpeg') %>"></li>
          <li><img src="<%= require('./src/image/yellow.jpeg') %>"></li>
          <li><img src="<%= require('./src/image/green.jpeg') %>"></li>
          <li><img src="<%= require('./src/image/blue.jpeg') %>"></li>
          <li><img src="<%= require('./src/image/indigo.jpeg') %>"></li>
          <li><img src="<%= require('./src/image/violet.jpeg') %>"></li>
      </ul>
      <div class="btn next" id="next"><i class="fa fa-arrow-right"></i></div>
      <div class="btn previous" id="previous"><i class="fa fa-arrow-left"></i></div>
      <div class="indicator-wrap" id="indicator-wrap">
          <ul></ul>
      </div>
    </div>

  </section>

  <section class="toy">
    <div class="toy-text">TOY</div>
  </section>

  <footer>
    <div class="github-logo">
      <a href="https://github.com/junsu1220" target="_blank"></a>
    </div>
    <div class="tistory-logo">
      <a href="https://crablab.tistory.com/" target="_blank"></a>
    </div>
    <div class="copyright-mention">
      © 2022. Park junsu. All rights reserved
    </div>
  </footer>
  <div id="to-top">
    <i class="fa-solid fa-arrow-up"></i>
  </div>

</body>

</html>